<div class="container-fluid">
    <mat-card>
        <mat-card-header class="card-container">
            <mat-card-title style="font-size: 24px;"><b>Báo cáo điểm cuối khóa</b></mat-card-title>
            <mat-card-subtitle style="font-size: 18px;">Báo cáo điểm cuối khóa</mat-card-subtitle>
        </mat-card-header>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn lớp học</mat-label>
                    <mat-select [(ngModel)]="classMessageId">
                        <mat-option *ngFor="let item of classList" value="{{item.id}}">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">               
            </div>
            <div class="col-md-6">
                <button ngxPrint styleSheetFile="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                    printSectionId="testprint" [useExistingCss]="true" mat-raised-button color="primary" tabindex="-1"
                    style="float: right; margin-right: 20px">
                    <mat-icon>print</mat-icon>
                    In báo cáo
                </button>

                <button (click)="ViewReport()" mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px">
                    <mat-icon>pageview
                    </mat-icon>
                    Hiển thị
                </button>
            </div>
        </div>
    </mat-card>
</div>
<div class="container-fluid" *ngIf="checkview" >
    <mat-card style="margin-top: 5px; margin-bottom: 10px;" id="testprint" >
        <div style='width: 100%; float: left;'>
            <div style='width: 50%;float: left;'>
                <div style='width: 100%;float: left; text-align: center '>
                    Trung Tâm Ngoại Ngữ I-English
                </div>
                <div style='width: 100%;float: left;  text-align: center'>
                    ĐC: Cerella Villa, No 33, Plot 11B, Lê Hồng Phong, Đằng Hải, Hải An, Hải Phòng
                </div>
            </div>
            <div style='width: 50%;float: right; text-align: center;'>
            </div>
        </div>
        <br><br><br>
        <div style=' width: 100%; text-align: center;'>
            <h2>BẢNG ĐIỂM LỚP {{class.name | uppercase}}</h2>
            <p style="font-size: 15px;">(Ngày vào: {{dateOnPoint | date: 'dd/MM/yyyy'}} - Loại Điểm: Điểm cuối khóa)</p>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table"  >
                    <thead class="thead-light">
                        <tr>
                            <th scope='col' style="text-align: center;">STT</th>
                            <th scope='col'>Họ và tên</th>
                            <th scope='col' style="text-align: center;">Năm sinh</th>
                            <th scope='col' style="text-align: center;">GT</th>
                            <th scope='col' style="text-align: center;">Điểm nghe</th>
                            <th scope='col' style="text-align: center;">Điểm nói</th>
                            <th scope='col' style="text-align: center;">Điểm đọc</th>
                            <th scope='col' style="text-align: center;">Điểm viết</th>
                            <th scope='col' style="text-align: center;">Tổng điểm</th>
                            <th scope='col' style="text-align: center;">Điểm TB</th>
                            <th scope='col' style="text-align: center;">Xếp TT</th>
                            <th scope='col' style="text-align: center;">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px;" *ngFor="let item of endingPointDetail; let i = index">
                        <tr>
                            <th scope='row' style="text-align: center;">{{i+1}}</th>
                            <td>{{item.learnerName}}</td>
                            <td style="text-align: center;">{{item.learnerBriday | date:'yyyy'}}</td>
                            <td style="text-align: center;">{{(item.learnerSex == true)?"Nam":"Nữ"}} </td>
                            <td style="text-align: center;">{{item.listeningPoint}}</td>
                            <td style="text-align: center;">{{item.sayingPoint}}</td>
                            <td style="text-align: center;">{{item.readingPoint}}</td>
                            <td style="text-align: center;">{{item.writingPoint}}</td>
                            <td style="text-align: center;">{{item.totalPoint}}</td>
                            <td style="text-align: center;">{{item.averagePoint}}</td>
                            <td style="text-align: center;">{{item.sortOrder}}</td>
                            <td style="text-align: center;">{{item.note}}</td>
                        </tr>                       
                    </tbody>
                </table>

            </div>
            <div style='width: 100%; float: right;'>
                <div style='width: 30%;float: right; text-align: center;'><b>Người lập</b></div>
            </div>
        </div>
    </mat-card>
</div>
