<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
    <mat-card>
      <mat-card-header class="card-container">
        <mat-card-title style="font-size: 25px;">Chấm công</mat-card-title>
        <mat-card-subtitle style="font-size: 16px;">Chấm công nhân viên</mat-card-subtitle>
      </mat-card-header>
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="canChinh">
            <mat-label>Tháng</mat-label>
            <mat-select [(ngModel)]="monthSearch" required>
              <mat-option *ngFor="let month of months" value="{{month}}">
                {{month}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="canChinh">
            <mat-label>Năm</mat-label>
            <mat-select [(ngModel)]="yearSearch">
              <mat-option *ngFor="let year of years" value="{{year}}">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-1">
          <button mat-raised-button color="primary" tabindex="-1" style="float: right; margin-right: 20px"
            (click)="searchTimeSheet()">
            <mat-icon>search</mat-icon>
            Tìm kiếm
          </button>
        </div>
      </div>
    </mat-card>
    <div id="tieude">
      <label class="title">Bảng chấm công tháng {{monthSelected +1}}/{{yearSelected}}</label>
    </div>
    <mat-card style="margin-top: 0.5%">
      <mat-card-header style="float: right;">
        <mat-card-title>
          <button mat-raised-button color="primary" tabindex="-1" (click)="CreateTimeSheet()"
            *ngIf="permissionOfFunction.canCreate">
            
            Tạo chấm công
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-header style="float: left;">
        <mat-card-title>
          <button class="chuyenThang" mat-raised-button color="primary" tabindex="-1" (click)="forwardMonth()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button class="chuyenThang" mat-raised-button color="primary" tabindex="-1" (click)="nextMonth()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="index" sticky>
              <th mat-header-cell *matHeaderCellDef> No.</th>
              <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="personnelName" sticky>
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.personnelName}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_1">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[0] }}<br> 1 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_1" (change)="onChange(element)">
                  <option value="1">1 </option>
                  <option value="0.5"> 0.5 </option>
                  <option value="0">0 </option>
                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_2">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[1] }}<br> 2 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_2" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="day_3">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[2] }}<br> 3 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_3" (change)="onChange(element)">
                  <option value=1>1</option>
                  <option value=0.5>0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_4">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[3] }}<br> 4 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_4" (change)="onChange(element)">
                  <option value=1>1</option>
                  <option value=0.5>0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_5">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[4] }}<br> 5 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_5" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_6">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[5] }}<br> 6 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_6" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_7">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[6] }}<br> 7</th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_7" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_8">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[7] }}<br> 8 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_8" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_9">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[8] }}<br> 9 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_9" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="day_10">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[9] }}<br> 10 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_10" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_11">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[10] }}<br> 11 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_11" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_12">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[11] }}<br> 12 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_12" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_13">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[12] }}<br> 13 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_13" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="day_14">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[13] }}<br> 14 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_14" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_15">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[14] }}<br> 15 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_15" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_16">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[15] }}<br> 16 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_16" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_17">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[16] }}<br> 17 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_17" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="day_18">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[17] }}<br> 18 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_18" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_19">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[18] }}<br> 19 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_19" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_20">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[19] }}<br> 20 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_20" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_21">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[20] }}<br> 21 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_21" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="day_22">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[21] }}<br> 22 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_22" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_23">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[22] }}<br> 23 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_23" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_24">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[23] }}<br> 24 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_24" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day_25">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[24] }}<br> 25 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_25" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="day_26">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[25] }}<br> 26 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_26" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="day_27">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[26] }}<br> 27 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_27" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="day_28">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[27] }}<br> 28 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_28" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="day_29">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[28] }}<br> 29 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_29" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="day_30">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[29] }}<br> 30 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_30" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="day_31">
              <th mat-header-cell *matHeaderCellDef> {{ dateOfweek[30] }}<br> 31 </th>
              <td mat-cell *matCellDef="let element">
                <select matNativeControl required [(ngModel)]="element.day_31" (change)="onChange(element)">
                  <option value="1">1</option>
                  <option value="0.5">0.5</option>
                  <option value="0">0 </option>

                </select>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="totalWorkday" stickyEnd>
              <th mat-header-cell *matHeaderCellDef> Tổng công </th>
              <td mat-cell *matCellDef="let element"> {{element.totalWorkday}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
