<h1 mat-dialog-title>Tạo bảng điểm</h1>
<form novalidate [formGroup]="endingPointFormGroup" (ngSubmit)="createEndingPoint()">

<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12">

                <mat-form-field [floatLabel]='floatLabel'>
                    <input matInput [matDatepicker]="picker" placeholder="Chọn ngày kiểm tra"
                        [(ngModel)]="endingPoint.examinationDate" required required formControlName="examinationDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <mat-error *ngIf="!endingPointFormGroup.hasError('required')">
                        Vui lòng chọn ngày kiểm tra!
                    </mat-error>
                </mat-form-field>

                <mat-form-field [floatLabel]='floatLabel'>
                    <mat-label>Lớp</mat-label>
                    <mat-select [(ngModel)]="endingPoint.languageClassId" required style="text-align: left;"
                        formControlName="languageClassId" [disabled]="true">
                        <mat-option *ngFor="let item of classList" [value]="item.id" style="text-align: left; font-weight: bold;">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!endingPointFormGroup.hasError('required')">
                        Vui lòng chọn lớp!
                    </mat-error>
                </mat-form-field>

                <mat-form-field [floatLabel]='floatLabel'>
                    <mat-label>Giáo viên</mat-label>
                    <mat-select [(ngModel)]="endingPoint.lecturerId" required style="text-align: left;"
                        formControlName="lecturerId">
                        <mat-option *ngFor="let item of lecturerList" [value]="item.id" style="text-align: left;">
                            {{item.cardId+'-'+item.firstName+' '+item.lastName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!endingPointFormGroup.hasError('required')">
                        Vui lòng chọn giáo viên!
                    </mat-error>
                </mat-form-field>


                <mat-form-field [floatLabel]='floatLabel'>
                    <mat-label>Trạng thái</mat-label>
                    <mat-select [(ngModel)]="endingPoint.status" required style="text-align: center;"
                        formControlName="status">
                        <mat-option *ngFor="let item of status" [value]="item.value" style="text-align: center;">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!endingPointFormGroup.hasError('required')">
                        Vui lòng chọn trạng thái!
                    </mat-error>
                </mat-form-field>

                <mat-form-field [floatLabel]='floatLabel'>
                    <mat-label>Ghi chú</mat-label>
                    <textarea [(ngModel)]="endingPoint.note" matInput placeholder="Nhập ghi chú" cdkTextareaAutosize
                        cdkAutosizeMinRows="3" cdkAutosizeMaxRows="3" formControlName="note"></textarea>                    
                </mat-form-field>
        </div>
    </div>
</div>

<mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary" tabindex="-1">
        <mat-icon>add_circle</mat-icon>
        Thêm
    </button>
    <button mat-raised-button color="warn" mat-dialog-close tabindex="-1">
        <mat-icon>cancel</mat-icon>
        Hủy
    </button>
</mat-dialog-actions>
</form>
