<div class="container-fluid">
    <mat-card>
        <mat-card-header class="card-container">
            <mat-card-title style="font-size: 24px;"><b>Báo cáo danh sách lớp</b></mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn khóa học</mat-label>
                    <mat-select [(ngModel)]="courseSelectedId" (ngModelChange)="getClassByCourseId()">
                        <mat-option *ngFor="let item of courseList" value="{{item.id}}">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn lớp học</mat-label>
                    <mat-select [(ngModel)]="classSelectedId" (ngModelChange)="getAddInfoClass()">
                        <mat-option *ngFor="let item of classList" value="{{item.id}}">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <button ngxPrint styleSheetFile="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                    printSectionId="testprint" [useExistingCss]="true" mat-raised-button color="primary" tabindex="-1"
                    style="float: right; margin-right: 20px">
                    <mat-icon>print</mat-icon>
                    In báo cáo
                </button>

                <button (click)="hienthi()" mat-raised-button color="primary" tabindex="-1"
                    style="float: right; margin-right: 20px">
                    <mat-icon>pageview
                    </mat-icon>
                    Hiển thị
                </button>

            </div>
        </div>
    </mat-card>
</div>
<div class="container-fluid" *ngIf="checkview">
    <mat-card style="margin-top: 5px; margin-bottom: 10px;" id="testprint">
        <div style='width: 100%; float: left;'>
            <div style='width: 50%;float: left;'>
                <div style='width: 100%;float: left; text-align: center '>
                    Trung Tâm Ngoại Ngữ I-English
                </div>
                <div style='width: 100%;float: left;  text-align: center'>
                    ĐC: Cerella Villa, No 33, Plot 11B, Lê Hồng Phong, Đằng Hải, Hải An, Hải Phòng
                </div>
            </div>
            <div style='width: 50%;float: right; text-align: center;'>
            </div>
        </div>
        <br><br><br>
        <div style=' width: 100%; text-align: center; margin-bottom: 30px; margin-top: 30px;'>
            <h2>DANH SÁCH LỚP {{class.name | uppercase}} </h2>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-bottom: 15px; font-style: italic;">
                    <div style="margin-left: 10px;">
                        <span> <b> Ngày bắt đầu:</b> {{class.startDay | date:'dd-MM-yyyy'}}</span>
                    </div>
                    <div style="margin-left: 30px;">
                        <span><b> Giáo viên:</b> {{class.lecturerName}}</span>
                    </div>
                    <div style="margin-left: 30px;">
                        <span><b> Số học viên:</b> {{class.totalLearners + "/" + class.maxNumber }}</span>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope='col' style="text-align: center; width: 7%;">STT</th>
                            <th scope='col' style="text-align: center; width: 12%;">Mã học viên</th>
                            <th scope='col' style="width: 20%;">Họ và tên</th>
                            <th scope='col' style="text-align: center; width: 12%;">Ngày sinh</th>
                            <th scope='col' style="text-align: center; width: 12%;">Giới tính</th>
                            <th scope='col' style="text-align: center; width: 12%;">SĐT</th>
                            <th scope='col' style="text-align: center;">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px;" *ngFor="let item of learnerInClass; let i = index">
                        <tr>
                            <th style="text-align: center;">{{i+1}}</th>
                            <td style="text-align: center;">{{item.learner.cardId}}</td>
                            <td>{{item.learner.firstName + " " + item.learner.lastName}}</td>
                            <td style="text-align: center;">{{item.learner.birthday | date:'dd-MM-yyyy'}}</td>
                            <td style="text-align: center;">{{(item.learner.sex == true)?"Nam":"Nữ"}} </td>
                            <td style="text-align: center;">{{item.learner.phone}}</td>
                            <td style="text-align: center;"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div style='width: 100%; float: right;margin-top: 50px;'>
                <div style='width: 30%;float: right; text-align: center;'><b>Người lập</b><br><i>(Ký và ghi rõ họ
                        tên)</i></div>
            </div>
        </div>
    </mat-card>
</div>