<section class="content" style="margin-top: 1%">
    <div class="container-fluid">

        <div>
            <mat-card-header class="card-container">
                <mat-card-title style="font-size: 24px;"><b>Lớp học</b></mat-card-title>
            </mat-card-header>
        </div>
        <div class="row col-md-12" style="margin-top: 20px;">
            <div class="row col-md-12" style="margin-bottom: 10px;border-bottom: solid 1px silver;">
                <div class="row col-md-10" style=" padding-top: 8px;">
                    <div class="col-md-3" style="float: left;">
                        <mat-card-header class="card-container">
                            <mat-card-title style="font-size: 24px;"><b>Thông tin lớp học</b></mat-card-title>
                        </mat-card-header>
                    </div>
                </div>
                <!-- Chọn lớp học  -->
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Chọn lớp học</mat-label>
                        <mat-select [(ngModel)]="classId" (ngModelChange)="loadForm()">
                            <mat-option *ngFor="let s of classList" value="{{s.id}}">
                                {{s.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class=" row col-md-12"
                style="background-color: #F5F5F5; border: solid 1px silver ; border-radius: 10px;">

                <div class="col-md-3">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Lớp :</b> <a class="float-right"> {{class.name}}</a>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Khóa học :</b> <a class="float-right"> {{class.courseName}}</a>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Sĩ số :</b> <a class="float-right"> {{class.total + " / " + class.maxNumber}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3" style="margin-left:5%;">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Ngày bắt đầu :</b> <a class="float-right"> {{class.startDay}}</a>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Ngày kết thúc :</b> <a class="float-right"> {{class.endDay}}</a>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Trạng thái :</b>
                            <a class="float-right">
                                <span
                                    [class]="(class.status == 1?'badge badge-success':(class.status == 0?'badge badge-danger':'badge badge-primary'))">
                                    {{(class.status)==1?"Hoạt động":((class.status)==0?"Kết thúc":"Đã đầy")}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3" style="margin-left:5%;">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Học phí :</b> <a class="float-right"> {{class.courseFee | currency:'VND':''}} VNĐ</a>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Học phí theo tháng :</b> <a class="float-right"> {{class.monthlyFee |
                                currency:'VND':''}} VNĐ</a>
                        </li>
                        <li class="list-group-item" style="background-color: #F5F5F5;">
                            <b>Học phí theo buổi :</b> <a class="float-right"> {{class.lessonFee |
                                currency:'VND':''}} VNĐ</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-10">
                    <li style="font-style: italic;">
                        <b>Ghi chú : </b> <a> {{class.note}}</a>
                    </li>
                </div>

            </div>
            <div class=" row col-md-12">
                <div class="col-md-6" style="float: left;">
                    <mat-card-header class="card-container">
                        <mat-card-title><b>Danh sách học viên</b></mat-card-title>
                    </mat-card-header>

                    <div class="col-md-9">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Tìm kiếm học viên</mat-label>
                                <input matInput placeholder="Nhập mã, tên cần tìm kiếm" [(ngModel)]="keyword"
                                    (keyup)="loadFind()">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <mat-card-content>
                            <table mat-table [dataSource]="dataSourceOutClass" class="table-style-three"
                                style=" border: 1px solid silver; border-radius: 10px;">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"><b>STT</b></th>
                                    <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="cardId">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Thẻ học viên</b></th>
                                    <td mat-cell *matCellDef="let element"> {{element.cardId}}</td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"><b> Họ tên</b> </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.firstName + " " + element.lastName}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="sex">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"><b> Giới tính</b></th>
                                    <td mat-cell *matCellDef="let element"> {{(element.sex == true)?"Nam":"Nữ"}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="birthday">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Năm sinh </b></th>
                                    <td mat-cell *matCellDef="let element"> {{element.birthday | date:'yyyy'}}</td>
                                </ng-container>

                                <ng-container matColumnDef="controls">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Thêm vào lớp </b></th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button (click)="createStudyProcess(element.id)">
                                            +
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsOutClass"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsOutClass;">
                                </tr>
                            </table>
                            <mat-paginator #Paginator1 [pageSizeOptions]="pageSizeOptions1" showFirstLastButtons>
                            </mat-paginator>
                        </mat-card-content>
                    </div>
                </div>

                <mat-card class="col-md-6" style="float: left ;">

                    <mat-card-header class="card-container">
                        <mat-card-title> <b>Danh sách lớp </b></mat-card-title>
                    </mat-card-header>
                    <div class="col-md-12" style="height: 65px;">

                    </div>
                    <div class="col-md-12">
                        <mat-card-content>
                            <table mat-table [dataSource]="dataSourceInClass" class="table-style-three"
                                style=" border: 1px solid silver; border-radius: 10px;">

                                <ng-container matColumnDef="index">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"><b> STT</b></th>
                                    <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="cardId">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Thẻ học viên</b></th>
                                    <td mat-cell *matCellDef="let element"> {{element.cardId}}</td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Họ tên </b></th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.firstName + " " + element.lastName}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="sex">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Giới tính</b></th>
                                    <td mat-cell *matCellDef="let element"> {{(element.sex == true)?"Nam":"Nữ"}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="birthday">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"> <b>Năm sinh</b></th>
                                    <td mat-cell *matCellDef="let element"> {{element.birthday | date:'yyyy'}}</td>
                                </ng-container>

                                <ng-container matColumnDef="controls">
                                    <th mat-header-cell *matHeaderCellDef class="tencot"><b>Xóa</b> </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button (click)="deleteStudyProcess(element.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsInClass"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsInClass;">
                                </tr>
                            </table>
                            <mat-paginator #Paginator2 [pageSizeOptions]="pageSizeOptions2" showFirstLastButtons>
                            </mat-paginator>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>

    </div>
</section>