<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
    <div style="background-color: white;">
      <mat-card-header class="card-container">
        <mat-card-title>Đối tượng</mat-card-title>
        <mat-card-subtitle>Danh mục đối tượng</mat-card-subtitle>
      </mat-card-header>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Tên đối tượng</mat-label>
            <input matInput placeholder="Tên đối tượng" [(ngModel)]="keyWord">
            <mat-hint>Tên đối tượng muốn tìm kiếm</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Chọn trạng thái</mat-label>
            <mat-select [(ngModel)]="statusSelected">
              <mat-option *ngFor="let s of status" value="{{s.code}}">
                {{s.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
          <button mat-flat-button tabindex="-1" style="float: right; margin-right: 20px"
            (click)="searchGuestType()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div style="margin-top: 0.5%">
      <mat-card-header style="float: right;">
        <mat-card-title>
          <button mat-flat-button color="accent" tabindex="-1" (click)="openCreateDialog()"
            *ngIf="permissionOfFunction.canCreate">
            
            Thêm
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> STT</th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tên đối tượng</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
            <td mat-cell *matCellDef="let element">
              <span [class]="(element.status == 1?'badge badge-success':'badge badge-danger')">
                {{(element.status == 1)?"Hoạt động":"Khóa"}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef> Xóa </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="deleteGuestType(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="openEditGuestType(row)" *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
        </mat-paginator>
      </mat-card-content>
    </div>
  </div>
</section>
