.head-row{
  width: 100%;
 
}


.head-column{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  float: left;
}

.head-image{
  width: 100%;
}


.body-row{
  width: 100%;
}


table{
  width: 100%;
}

.cot {
  background-color:lightslategrey;
  color: white;
  font-weight: bold;
}



.mat-row:hover {
  background: lightslategray;
  opacity: 0.7;
}