<mat-card-content>
    <div style="margin-bottom: 15px; font-size: 17px;"><b>Chi tiết phiếu thu</b></div>
    <table mat-table [dataSource]="dataSourceReceiptsDetail" style="width: 100%;">

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="tencot">
                STT
            </th>
            <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="languageClassName">
            <th mat-header-cell *matHeaderCellDef style="width: 20%; " class="tencot">
                Lớp
                học </th>
            <td mat-cell *matCellDef="let element">{{element.languageClassName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef style="width: 10%; " class="tencot">
                Tháng
                thu</th>
            <td mat-cell *matCellDef="let element">
                {{element.month + "/" + element.year }}
            </td>
        </ng-container>

        <ng-container matColumnDef="tuition">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="tencot">
                Học
                phí</th>
            <td mat-cell *matCellDef="let element"> {{element.tuition}} </td>
        </ng-container>

        <ng-container matColumnDef="fundMoney">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="tencot">
                Tiền
                quỹ</th>
            <td mat-cell *matCellDef="let element"> {{element.fundMoney}} </td>
        </ng-container>

        <ng-container matColumnDef="infrastructureMoney">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="tencot">
                Tiền
                CSVC</th>
            <td mat-cell *matCellDef="let element"> {{element.infrastructureMoney}}</td>
        </ng-container>

        <ng-container matColumnDef="otherMoney">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="tencot">
                Tiền
                khác</th>
            <td mat-cell *matCellDef="let element"> {{element.otherMoney}}</td>
        </ng-container>

        <ng-container matColumnDef="totalMoney">
            <th mat-header-cell *matHeaderCellDef style="width: 10%;" class="tencot">
                Tổng
                tiền</th>
            <td mat-cell *matCellDef="let element"> {{element.totalMoney}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsReceiptsDetail"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsReceiptsDetail;">
        </tr>
    </table>
    <div class="row col-md-12" style="margin-bottom: 15px; font-size: 14px; margin-top: 20px;">
        <div class="col-md-10" ></div>
        <div class="col-md-2">
            <b>Tổng tiền : {{tongtien}} VNĐ</b>
        </div>
    </div>
</mat-card-content>