<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<section class="content" style="margin-top: 1%">
  <div class="container-fluid">
    <div style="background-color: white;">
      <mat-card-header>
        <mat-card-title>Điểm danh</mat-card-title>
      </mat-card-header>

    </div>
    <div style="margin-top: 0.5%; background-color: white;" >

      <div class="row">
        <div class="col-12 col-sm-6 col-md-2">
          <mat-form-field appearance="outline">
            <mat-label>Lớp</mat-label>
            <mat-select [(ngModel)]="currentClassId" (valueChange)="changeClass($event)">
              <mat-option *ngFor="let class of classes" [value]="class.id">
                {{class.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-12 col-sm-6 col-md-3">

          <mat-form-field [floatLabel]='floatLabel'>
            <input matInput [matDatepicker]="picker1" placeholder="Ngày" [(ngModel)]="currentDate"
              (dateChange)="changeCurrentDate($event.value)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker1></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="col-12 col-sm-6 col-md-2">

        </div>
        <div class="col-12 col-sm-6 col-md-5">
          <mat-chip-list aria-label="Fish selection">

            <mat-chip color="primary" selected (click)="createAttendanceDialog()"
              *ngIf="permissionOfFunction.canCreate">Tạo điểm danh</mat-chip>
            <mat-chip color="accent" selected (click)="rollCallOutClass()" *ngIf="permissionOfFunction.canCreate"> Điểm
              danh ngoài</mat-chip>
          </mat-chip-list>


        </div>
      </div>


      <hr>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-male"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Học viên nam</span>
                <span class="info-box-number">{{ inforClass.maleNumber }}</span>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-female"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Học viên nữ</span>
                <span class="info-box-number">{{ inforClass.femaleNumber }}</span>
              </div>
            </div>
          </div>

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>


          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Tổng số thành viên</span>
                <span class="info-box-number">{{ inforClass.totalNumber }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>

        <hr>
        <div class="row" style="background-color: white;">
          <div class="col-12 col-sm-6 col-md-4">
            <b>Tình trạng:</b> <span class="badge badge-warning">{{ (statusOfCurrentAttendance) }}</span>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <b>Sĩ số điểm danh:</b> <span>{{ numberAttendance }}/{{ inforClass.totalNumber }}</span>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="display: inline-block;">check_box
            </mat-icon>
            Đã điểm danh
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="display: inline-block;">
              check_box_outline_blank</mat-icon>
            <span>Chưa điểm danh</span>
          </div>
        </div>


        <hr>
        <mat-selection-list #learners (selectionChange)=" selectionChange($event, learners.selectedOptions.selected)">
          <mat-list-option class="learner-options" value="allSelection" (click)="changeAllSelection()"
            [disabled]="!permissionOfFunction.canUpdate">
            <div class="row">
              <div class="col-md-3"> <b>Mã học viên</b></div>
              <div class="col-md-3"> <b>Họ và tên</b></div>
              <div class="col-md-3"> <b>Năm sinh</b></div>
              <div class="col-md-3"> <b>Hình ảnh</b></div>

            </div>
          </mat-list-option>
          <mat-list-option *ngFor="let learner of learnersSource" class="learner-options" [value]="learner.id"
            [selected]="isChecked(learner.id)" [disabled]="!permissionOfFunction.canUpdate">
            <div class="row">
              <div class="col-md-3" style="left: 0; top: 0; right: 0; bottom: 0; margin: auto;">
                {{ learner.cardId }}
              </div>

              <div class="col-md-3" style="left: 0; top: 0; right: 0; bottom: 0; margin: auto;">
                {{ learner.firstName + " " + learner.lastName }}
              </div>

              <div class="col-md-3" style="left: 0; top: 0; right: 0; bottom: 0; margin: auto;">
                {{ learner.birthday | date: 'yyyy' }}
              </div>

              <div class="col-md-3">
                <img [src]="learner.sex === true? iconMale: iconFemale" class="learner-images">
              </div>
            </div>

          </mat-list-option>



        </mat-selection-list>
        <hr>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-12">
            <button mat-flat-button color="primary" tabindex="-1" (click)="updateAttendance()" style="float: right;"
              *ngIf="permissionOfFunction.canUpdate">
              <mat-icon>done_outline</mat-icon>
              Cập nhật
            </button>
          </div>
        </div>



      </mat-card-content>
    </div>
  </div>
</section>