<div class="container-fluid">
    <mat-card>
        <mat-card-header class="card-container">
            <mat-card-title style="font-size: 24px;"><b>Danh sách điểm danh học viên</b></mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn lớp học</mat-label>
                    <mat-select [(ngModel)]="classSelectedId">
                        <mat-option *ngFor="let item of classList" value="{{item.id}}">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn tháng</mat-label>
                    <mat-select [(ngModel)]="monthSelectedId">
                        <mat-option *ngFor="let item of months" value="{{item}}">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label>Chọn năm</mat-label>
                    <mat-select [(ngModel)]="yearSelectedId">
                        <mat-option *ngFor="let item of years" value="{{item}}">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <button ngxPrint [useExistingCss]="true" printSectionId="testprint" mat-raised-button color="primary"
                    tabindex="-1" style="float: right; margin-right: 20px">
                    <mat-icon>print</mat-icon>
                    In báo cáo
                </button>

                <button (click)="hienthi()" mat-raised-button color="primary" tabindex="-1"
                    style="float: right; margin-right: 20px">
                    <mat-icon>pageview
                    </mat-icon>
                    Hiển thị
                </button>

            </div>
        </div>
    </mat-card>
</div>
<div class="container-fluid" *ngIf="checkview">
    <mat-card style="margin-top: 5px; margin-bottom: 10px;" id="testprint">
        <div style='width: 150%; float: left;'>
            <div style='width: 50%;float: left;'>
                <div style='width: 100%;float: left; text-align: center '>
                    Trung Tâm Ngoại Ngữ I-English
                </div>
                <div style='width: 100%;float: left;  text-align: center'>
                    ĐC: Cerella Villa, No 33, Plot 11B, Lê Hồng Phong, Đằng Hải, Hải An, Hải Phòng
                </div>
            </div>
            <div style='width: 50%;float: right; text-align: center;'>
            </div>
        </div>
        <br><br><br>
        <div style=' width: 100%; text-align: center; margin-bottom: 30px; margin-top: 30px;'>
            <h2>BẢNG ĐIỂM DANH LỚP {{class.name | uppercase}}</h2>
            <p style="font-size: 16px;">(Bảng điểm danh tháng {{this.monthSelectedId}} năm {{this.yearSelectedId}})</p>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-bottom: 15px; font-style: italic;">
                    <div style="margin-left: 30px;">
                        <span><b> Giáo viên:</b> {{class.lecturerName}}</span>
                    </div>
                </div>
                <table id="tableTimesheet">
                    <tr>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2%;">STT</th>
                        <th scope='col' style="text-align: center; width: 10%; vertical-align:top;">Họ và tên</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">1</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">2</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">3</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">4</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">5</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">6</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">7</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">8</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">9</th>
                        <th scope='col' style="vertical-align:top; text-align: center; width: 2.3%;">10</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">11</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">12</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">13</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">14</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">15</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">16</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">17</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">18</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">19</th>
                        <th scope='col' style="vertical-align:top; text-align: center; width: 2.3%;">20</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">21</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">22</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">23</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">24</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">25</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">26</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">27</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">28</th>
                        <th scope='col' style="text-align: center; vertical-align:top; width: 2.3%;">29</th>
                        <th scope='col' style="vertical-align:top; text-align: center; width: 2.3%;">30</th>
                        <th scope='col' style="vertical-align:top; text-align: center; width: 2.3%;">31</th>
                        <th scope='col' style="vertical-align:top; text-align: center; width: 7%;">Ghi chú</th>
                    </tr>
                    <tr style="font-size: 15px;" *ngFor="let item of diemDanh; let i = index">
                        <th style="text-align: center;">{{i+1}}</th>
                        <td style="padding-left: 10px;">{{item.fullName}}</td>
                        <td style="text-align: center;">{{item.days[0]}}</td>
                        <td style="text-align: center;">{{item.days[1]}}</td>
                        <td style="text-align: center;">{{item.days[2]}}</td>
                        <td style="text-align: center;">{{item.days[3]}}</td>
                        <td style="text-align: center;">{{item.days[4]}}</td>
                        <td style="text-align: center;">{{item.days[5]}}</td>
                        <td style="text-align: center;">{{item.days[6]}}</td>
                        <td style="text-align: center;">{{item.days[7]}}</td>
                        <td style="text-align: center;">{{item.days[8]}}</td>
                        <td style="text-align: center;">{{item.days[9]}}</td>
                        <td style="text-align: center;">{{item.days[10]}}</td>
                        <td style="text-align: center;">{{item.days[11]}}</td>
                        <td style="text-align: center;">{{item.days[12]}}</td>
                        <td style="text-align: center;">{{item.days[13]}}</td>
                        <td style="text-align: center;">{{item.days[14]}}</td>
                        <td style="text-align: center;">{{item.days[15]}}</td>
                        <td style="text-align: center;">{{item.days[16]}}</td>
                        <td style="text-align: center;">{{item.days[17]}}</td>
                        <td style="text-align: center;">{{item.days[18]}}</td>
                        <td style="text-align: center;">{{item.days[19]}}</td>
                        <td style="text-align: center;">{{item.days[20]}}</td>
                        <td style="text-align: center;">{{item.days[21]}}</td>
                        <td style="text-align: center;">{{item.days[22]}}</td>
                        <td style="text-align: center;">{{item.days[23]}}</td>
                        <td style="text-align: center;">{{item.days[24]}}</td>
                        <td style="text-align: center;">{{item.days[25]}}</td>
                        <td style="text-align: center;">{{item.days[26]}}</td>
                        <td style="text-align: center;">{{item.days[27]}}</td>
                        <td style="text-align: center;">{{item.days[28]}}</td>
                        <td style="text-align: center;">{{item.days[29]}}</td>
                        <td style="text-align: center;">{{item.days[30]}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                </table>

            </div>
            <div style='width: 100%; float: right;margin-top: 50px;'>
                <div style='width: 30%;float: right; text-align: center;'><b>Người lập</b><br><i>(Ký và ghi rõ họ
                        tên)</i></div>
            </div>
        </div>
    </mat-card>
</div>