
  .mat-column-select {
    overflow: initial;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  table {
    text-align: center !important;
    width: 100%;
  }
  
  .mat-header-cell {
    text-align: center;
  }
  
  .mat-header-cell {
    font: bold; 
  }

  #khung_thongtinlop {
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 10px;
  }

  .tencot {
    color: black;
  }


table.table-style-three tr:hover td {
  cursor: pointer;
}
table.table-style-three tr:nth-child(even) td{
  background-color: #DAE7F7;
}

.nameSubtitle {
  float: left;
  margin-left: 30px;
}